RESEND_API_KEY=re_drtyhftyjbv
DEFAULT_FROM_EMAIL=onboarding@resend.dev

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_SSL=false
RABBITMQ_EXCHANGE=cliente-events-exchange
RABBITMQ_ROUTING_KEY=envio.bienvenida.creado
RABBITMQ_ROUTING_KEYS=envio.bienvenida.creado,puntos.aumentados,puntos.canjeados
RABBITMQ_QUEUE=email-bienvenida-queue
RABBITMQ_MAX_RETRIES=5